{% extends 'main/base.html' %}
{% load static %}
{% block js %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
{% block menu %}
<a href="{% url 'index' %}" class="menu-page">Вернуться на сайт</a>
<a href="{% url 'specialists:account' %}" class="menu-page">Личный кабинет</a>
<a href="{% url 'authentication:edit_profile_page' %}" class="menu-page">Редактировать профиль</a>
<a href="{% url 'authentication:logout' %}" class="menu-page">Выйти</a>
{% endblock %}
{% block content %}
<h1 class="page-title">Смена пароля</h1>
<div class="separator"></div>
<form action="{% url 'authentication:change_password' %}" class="consultation-form change-password-form" method="post">
    <div class="consultation-form-subblock">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <input type="submit" class="med-button login-submit" value="Поменять">
        <a href="{% url 'authentication:edit_profile_page' %}" class="consultation-read-link">Назад</a>
    </div>
</form>
<div class="register-errors-block">
    {% for field in form %}
        {{ field.errors }}
    {% endfor %}
</div>
{% endblock %}