{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<h2 class="page-title">Сброс пароля</h2>
<div class="separator"></div>
<form method="post" class="reset-password-form">
    {% csrf_token %}
    {% for field in form %}
            {{ field.label_tag }} 
            {{ field }}
            {% if field.errors %}
                <small>{{ field.errors|striptags  }}</small> 
            {% endif %}
    {% endfor %}
    <input type="submit" value="Отправить" class="med-button">
    <a href="{%url 'authentication:login' %}"  class="consultation-read-link">Отмена</a>
</form>
{% endblock %}