{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<h2 class="page-title">Смена пароля</h2>
<div class="separator"></div>
<form method="post" class="reset-password-form">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }} 
        {{ field }}
        {% if field.errors %}
            <small>{{ field.errors|striptags  }}</small> 
        {% endif %}
    {% endfor %}
    <button type="submit" class="med-button">Сменить пароль</button>
</form>
{% endblock %}