{% extends 'main/base.html' %}
{% load static %}
{% block js %}
<script src="{% static 'js/text-adjust.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('search-input');
    const registeredFilter = document.getElementById('registered-filter');
    const foaFilter = document.getElementById('foa-filter');
    const specialistsContainer = document.getElementById('specialists-container');

    // Функция для сброса фильтров
    function resetFilters() {
        searchInput.value = '';
        registeredFilter.checked = false;
        foaFilter.value = '';

        filterSpecialists(); // Обновляем список специалистов
    }

    // Событие для кнопки сброса фильтров
    document.getElementById('reset-filters').addEventListener('click', resetFilters);

    async function fetchSpecialists() {
        try {
            const foaId = foaFilter.value;
            const response = await fetch(`/specialists/api/specialists/?field_of_activity=${foaId}&t=${new Date().getTime()}`);
            if (!response.ok) {
                throw new Error(`Failed to fetch specialists: ${response.statusText}`);
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error(error);
            return [];
        }
    }

    async function fetchFoA() {
        try {
            const response = await fetch(`/specialists/api/fields_of_activity/?t=${new Date().getTime()}`);
            if (!response.ok) {
                throw new Error(`Failed to fetch fields of activity: ${response.statusText}`);
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error(error);
            return [];
        }
    }

    async function populateFoAFilter() {
        const foaData = await fetchFoA();
        foaData.forEach(foa => {
            const option = document.createElement('option');
            option.value = foa.id;
            option.textContent = foa.name;
            foaFilter.appendChild(option);
        });
    }

    async function filterSpecialists() {
        const query = searchInput.value.toLowerCase();
        const isRegistered = registeredFilter.checked;

        const data = await fetchSpecialists();
        specialistsContainer.innerHTML = ''; // Очищаем контейнер перед вставкой отфильтрованных специалистов

        // const filteredSpecialists = data.filter(specialist => {
        //     const fullName = `${specialist.first_name} ${specialist.patronymic} ${specialist.last_name}`.toLowerCase();
        //     const isRegisteredMatch = isRegistered ? specialist.registered : true;
        //     return fullName.includes(query) && isRegisteredMatch;
        // });
        const filteredSpecialists = data.filter(specialist => {
            const fullName = `${specialist.first_name} ${specialist.patronymic} ${specialist.last_name}`.toLowerCase();
            const profession = specialist.profession.toLowerCase();
            const city = specialist.city.toLowerCase(); // Место работы (город)

            const isRegisteredMatch = isRegistered ? specialist.registered : true;
            
            // Добавление условий для поиска по специализации и месту работы
            return (
                (fullName.includes(query) || profession.includes(query) || city.includes(query)) &&
                isRegisteredMatch
            );
        });

        if (filteredSpecialists.length === 0) {
            document.getElementById('no-specialists-message').style.display = 'block';
        } else {
            document.getElementById('no-specialists-message').style.display = 'none';
        }

        filteredSpecialists.forEach(specialist => {
            const specialistElement = document.createElement('a');
            specialistElement.href = `/specialists/profile/${specialist.id}`;
            console.log('Fields of activity:', specialist.fields_of_activity);

            // Преобразуем массив символов в строку и затем в массив строк
            const fieldsOfActivityString = specialist.fields_of_activity.join('');
            const fieldsOfActivityArray = fieldsOfActivityString.split(', ');
            
            specialistElement.className = 'specialists-block';
            specialistElement.innerHTML = `
                <div class="specialists-img-block">
                    ${specialist.registered ? '<div class="specialists-registered">Р</div>' : ''}
                    <img src="${specialist.photo}" alt="photo" class="specialists-img">
                </div>
                <div class="specialists-info">
                    <span class="specialists-info-label">ФИО: </span>${specialist.first_name} ${specialist.patronymic} ${specialist.last_name}
                </div>
                <div class="specialists-info">
                    <span class="specialists-info-label">Город: </span>${specialist.city}
                </div>
                <div class="specialists-info">

                    <span class="specialists-info-label">Сферы деятельности в ранней помощи: </span>${fieldsOfActivityArray.join(', ')}
                </div>
                <div class="specialists-info">
                    <span class="specialists-info-label">Специализация: </span>${specialist.profession}
                </div>
            `;
            specialistsContainer.appendChild(specialistElement);
        });
    }

    searchInput.addEventListener('input', filterSpecialists);
    registeredFilter.addEventListener('change', filterSpecialists);
    foaFilter.addEventListener('change', filterSpecialists);

    filterSpecialists(); // Начальная загрузка специалистов
    populateFoAFilter(); // Загрузка полей деятельности
});

</script>
<!-- <script src="{% static 'js/specialists.js' %}"></script> -->
{% endblock %}
{% block content %}
<h3 class="page-title">Специалисты ранней помощи</h3>
<div class="separator"></div>
<div class="filter-container">
    <h2 class="filter-title">Поиск специалиста</h2>

    <div class="search-and-reset">
        <input type="text" id="search-input" placeholder="Можно ввести ФИО, специализацию, либо место работы..." />
        <button id="reset-filters" class="reset-filters-btn">Сбросить фильтры</button>
    </div>
    <div class="filter-row">
        <div class="checkbox-container">
            <label>
                <input type="checkbox" id="registered-filter" />
                Реестровый специалист
            </label>
        </div>
        <div class="dropdown-container">
            <select id="foa-filter">
                <option value="">Все сферы деятельности</option>
            </select>
        </div>
    </div>
</div>

<div id="specialists-container" class="specialists-content">
    {% for specialist in object_list %}
    <a href="{% url 'specialists:profile' specialist.pk %}" class="specialists-block">
        <div class="specialists-img-block">
            {% if specialist.registered %}
            <div class="specialists-registered" title="Реестровый специалист">Р</div>


            {% endif %}
            <img src="/media/{{ specialist.photo }}" alt="photo" class="specialists-img">
        </div>
        <div class="specialists-info">
            <span class="specialists-info-label">ФИО: </span>{{ specialist }}
        </div>
        <div class="specialists-info">
            <span class="specialists-info-label">Город: </span>{{ specialist.city }}
        </div>
        <div class="specialists-info">
            <span class="specialists-info-label">Сферы деятельности в ранней помощи: </span>{{ specialist.fields_of_activity }}
        </div>
        <div class="specialists-info">
            <span class="specialists-info-label">Специализация: </span>{{ specialist.profession }}
        </div>
    </a>
    {% endfor %}
</div>
<div id="no-specialists-message" class="faq-form-notification" style="display: none;">
    Специалистов с такими параметрами не найдено
</div>
<div class="paginator-menu">
    {% if page_obj.has_previous %}
        <a href="{% url 'specialists:specialists_page' page_obj.previous_page_number %}" class="paginator-previous">
            ↼&nbsp
        </a>
    {% else %}
        &nbsp&nbsp&nbsp
    {% endif %}
      <p>
          {% if page_obj %}
            {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
          {% endif %}
      </p>
    {% if page_obj.has_next %}
        <a href="{% url 'specialists:specialists_page' page_obj.next_page_number %}" class="paginator-next">
            &nbsp⇁
        </a>
    {% else %}
        &nbsp&nbsp&nbsp
    {% endif %}
</div>
{% if not object_list %}
    <div class="faq-form-notification">На данный момент тут ничего нет</div>
{% endif %}
{% endblock %}

