{% extends 'main/base.html' %}
{% load static %}
{% block js %}
<script src="{% static 'js/text-adjust.js' %}"></script>
<script src="{% static 'js/geography.js' %}"></script>
{% endblock %}
{% block content %}
<div class="geo-content">
    <div class="geo-names">
        <div class="geo-separator"></div>
        {% for place in places %}
        <div class="geo-name-block" id="name-{{ place.pk }}">
            <div class="geo-name">{{ place.name }}</div>
            {% if place.text %}
                <div class="geo-text text-to-adjust" id="text-{{ place.pk }}">{{ place.text }}</div>
            {% endif %}
            {% if place.get_institutions %}
                <div class="geo-info-block" id="info-{{ place.pk }}">
                    {% for i in place.get_institutions %}
                        <div>
                            <div class="geo-info">{{ i.name }}</div>
                            <div class="geo-info">{{ i.address }}</div>
                            <div class="geo-info">{{ i.phone_number }}</div>
                            {% if i.link %}
                                <a href="{{ i.link }}" class="geo-info-link" target="_blank">Перейти на сайт</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="geo-separator"></div>
        {% endfor %}
    </div>
    <div class="geo-places">
        {% for place in places %}
        <iframe src="{{ place.src }}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="geo-place" id="src-{{ place.pk }}"></iframe>
        {% endfor %}
    </div>
</div>
{% if not places %}
    <div class="faq-form-notification">На данный момент тут ничего нет</div>
{% endif %}
{% endblock %}