{% extends 'main/base.html' %}
{% load static %}
{% block js %}
<script src="{% static 'js/text-adjust.js' %}"></script>
<script>
    $(document).ready(function() {
        // Функция для выполнения поиска
        function performSearch(query, dateFrom, dateTo) {
            $.ajax({
                url: "{% url 'news_search' %}",
                method: "GET",
                data: { query: query, date_from: dateFrom, date_to: dateTo },
                success: function(data) {
                    renderResults(data);
                },
                error: function(xhr) {
                    console.error("Произошла ошибка при поиске: ", xhr);
                }
            });
        }

        // Функция для отображения результатов поиска
        function renderResults(news) {
    var container = $('.news-news-block');
    container.empty(); // Очистить предыдущие результаты

    // Массив цветов, которые будут назначаться циклически
    var colors = ['#4F55DA', '#F06445', '#E8C444', '#B8D935', '#4FC9DA'];

    if (news.length === 0) {
        container.append('<div class="faq-form-notification">На данный момент тут ничего нет</div>');
    } else {
        news.forEach(function(item, index) {
            // Определение цвета на основе индекса элемента и длины массива цветов
            var backgroundColor = colors[index % colors.length];
            var fullImageUrl = `${window.location.origin}${item.image}`;

            // Преобразование даты в нужный формат
            var date = new Date(item.date);
            var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
            var formattedDate = new Intl.DateTimeFormat('ru-RU', options).format(date);

            // Функция для обрезки текста с сохранением HTML структуры
            function truncateHtml(html, maxLength) {
                var div = document.createElement('div');
                div.innerHTML = html;
                var text = div.innerText || div.textContent;
                return text.length > maxLength ? text.substring(0, maxLength) + '...' : text;
            }

            // Создание HTML-блока новости
            var newsHtml = `
                <div class="separator"></div>
                <div class="news-news-subblock">
                    <div class="news-news-color-block" style="background-color: ${backgroundColor};"></div>
                    <div class="news-news-left">
                        <a href="/single_news/${item.pk}" class="text-to-adjust index-link" id="news-${item.pk}">${item.title}</a>
                        <span class="text-to-adjust index-news-text left-aligned" id="news-text-${item.pk}"></span>
                        <span class="index-news-date">${formattedDate}</span>
                    </div>
                    <div class="news-news-img-block">
                        <img src="${fullImageUrl}" alt="image" class="index-news-img">
                    </div>
                </div>`;

            // Вставка HTML-блока в контейнер
            container.append(newsHtml);

            // Вставка обрезанного контента
            var newsTextElement = document.getElementById(`news-text-${item.pk}`);
            if (newsTextElement) {
                var truncatedContent = truncateHtml(item.content, 200);
                newsTextElement.innerHTML = truncatedContent;
            }
        });
    }
}

        // Обработчик ввода в поле поиска
        $('#search-input').on('input', function() {
            var query = $(this).val();
            var dateFrom = $('#date-from').val();
            var dateTo = $('#date-to').val();
            performSearch(query, dateFrom, dateTo);
        });

        // Обработчик кнопки сброса фильтра
        $('#reset-filters').click(function() {
            $('#search-input').val('');
            $('#date-from').val('');
            $('#date-to').val('');
            performSearch('', '', ''); // Выполнить поиск с пустым запросом
            location.reload(); // Перезагрузить страницу
        });

        // Обработчик кнопки применения фильтра по дате
        $('#filter-dates').click(function() {
            var query = $('#search-input').val();
            var dateFrom = $('#date-from').val();
            var dateTo = $('#date-to').val();
            performSearch(query, dateFrom, dateTo);
        });
    });
</script>
{% endblock %}
{% block content %}

<h3 class="page-title">Новости</h3>
<div class="filter-container">
    <div class="search-and-reset">
        <input type="text" id="search-input" placeholder="Введите заголовок или текст новости" />
        <button id="reset-filters" class="reset-filters-btn">Сбросить фильтры</button>
    </div>
    <div class="date-filter">
        <label for="date-from">От:</label>
        <input type="date" id="date-from" class="date-input" />
        <label for="date-to">До:</label>
        <input type="date" id="date-to" class="date-input" />
        <button id="filter-dates" class="apply-filter-btn">Применить</button>
    </div>
</div>
<div class="news-news-block">
    {% for n in object_list %}
    <div class="separator"></div>
    <div class="news-news-subblock">
        <div class="news-news-color-block" style="background-color: {{ n.1 }};"></div>
        <div class="news-news-left">
            <a href="{% url 'single_news' pk=n.0.pk %}" class="text-to-adjust index-link" id="news-{{ n.0.pk }}">{{ n.0.title }}</a>
            <span class="text-to-adjust index-news-text" id="news-text-{{ n.0.pk }}">{{ n.0.content|truncatechars_html:200|safe }}</span>



            <span class="index-news-date">{{ n.0.date }}</span>
        </div>
        <div class="news-news-img-block">
            <img src="/media/{{ n.0.image }}" alt="image" class="index-news-img">
        </div>
    </div>
    {% endfor %}
</div>
<div class="paginator-menu">
    {% if page_obj.has_previous %}
        <a href="{% url 'news_page' page_obj.previous_page_number %}" class="paginator-previous">
            ↼&nbsp
        </a>
    {% else %}
        &nbsp&nbsp&nbsp
    {% endif %}
      <p>
          {% if page_obj %}
            {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
          {% endif %}
      </p>
    {% if page_obj.has_next %}
        <a href="{% url 'news_page' page_obj.next_page_number %}" class="paginator-next">
            &nbsp⇁
        </a>
    {% else %}
        &nbsp&nbsp&nbsp
    {% endif %}
</div>
{% if not object_list %}
    <div class="faq-form-notification">На данный момент тут ничего нет</div>
{% endif %}
{% endblock %}
